.header{
    height: auto;
    display: flex;
    justify-content: center;
    background-color: $header-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    &_link{
        justify-content: center;
        &-img{
            width: 100%;
        }
    }
    &_nav{ 

    &-ul{
        height: auto;
        @include big(100%);
        font-size: 30px;
        margin-top: 15%;
        padding-left: 10%;
        gap: 25px;
        &-link{
            text-decoration: none;
        }
        &-link:hover{
            text-decoration: none;
          color: $hover;
        }      
         }
    }
}
